In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv('94_character_TMNIST.csv')
df.head()

,names,labels,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,784
0,Salsa-Regular,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MouseMemoirs-Regular,D,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Creepster-Regular,f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,SeoulNamsan-Light,/,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,HachiMaruPop-Regular,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
count,274093.0,274093.0,274093.0,274093.0,274093.0,274093.0,274093.000000,274093.000000,274093.000000,274093.000000,...,274093.000000,274093.000000,274093.000000,274093.000000,274093.000000,274093.000000,274093.000000,274093.000000,274093.000000,274093.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.000004,0.000011,0.001043,0.001518,...,0.002638,0.001562,0.001131,0.000894,0.000489,0.000317,0.000204,0.000033,0.000033,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.001910,0.004271,0.475743,0.494410,...,0.320080,0.179093,0.150590,0.189578,0.083345,0.067396,0.053345,0.012813,0.012813,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2.000000,248.000000,245.000000,...,103.000000,59.000000,41.000000,88.000000,21.000000,20.000000,19.000000,6.000000,6.000000,0.0

In [7]:
df['labels'].unique().shape

(94,)

In [13]:
col_count = df.shape[1]
row_count = df.shape[0]
col_count, row_count

(786, 274093)

In [10]:
labels = df['labels'].unique()
labels

array(['6', 'D', 'f', '/', 'F', 'x', 'J', '8', 'H', 'k', '@', '1', '=',
       'g', ')', '2', 'd', '^', '3', 't', '#', '.', '4', 'o', '"', 'y',
       'A', 'u', 'G', '-', 'm', 'W', '&', 'c', '9', 'N', ']', 'P', 'X',
       '|', '}', 'h', '7', 'j', '5', '>', '?', 'b', '*', 'w', 'l', '0',
       '$', 'I', 'Y', '%', ':', 'T', 'K', 'E', '<', 'V', '{', 'M', 'S',
       'a', 'i', 'r', "'", 'p', ';', '[', '+', 'e', 'U', '(', 's', '~',
       ',', 'C', 'q', '_', 'n', 'B', 'z', 'v', 'O', 'R', '`', 'Z', 'Q',
       'L', '!', '\\'], dtype=object)

In [20]:
labels_idx = np.arange(0, len(labels))
zipped_labels = zip(labels, labels_idx)
label_dict = dict(zipped_labels)
label_dict

{'6': 0,
 'D': 1,
 'f': 2,
 '/': 3,
 'F': 4,
 'x': 5,
 'J': 6,
 '8': 7,
 'H': 8,
 'k': 9,
 '@': 10,
 '1': 11,
 '=': 12,
 'g': 13,
 ')': 14,
 '2': 15,
 'd': 16,
 '^': 17,
 '3': 18,
 't': 19,
 '#': 20,
 '.': 21,
 '4': 22,
 'o': 23,
 '"': 24,
 'y': 25,
 'A': 26,
 'u': 27,
 'G': 28,
 '-': 29,
 'm': 30,
 'W': 31,
 '&': 32,
 'c': 33,
 '9': 34,
 'N': 35,
 ']': 36,
 'P': 37,
 'X': 38,
 '|': 39,
 '}': 40,
 'h': 41,
 '7': 42,
 'j': 43,
 '5': 44,
 '>': 45,
 '?': 46,
 'b': 47,
 '*': 48,
 'w': 49,
 'l': 50,
 '0': 51,
 '$': 52,
 'I': 53,
 'Y': 54,
 '%': 55,
 ':': 56,
 'T': 57,
 'K': 58,
 'E': 59,
 '<': 60,
 'V': 61,
 '{': 62,
 'M': 63,
 'S': 64,
 'a': 65,
 'i': 66,
 'r': 67,
 "'": 68,
 'p': 69,
 ';': 70,
 '[': 71,
 '+': 72,
 'e': 73,
 'U': 74,
 '(': 75,
 's': 76,
 '~': 77,
 ',': 78,
 'C': 79,
 'q': 80,
 '_': 81,
 'n': 82,
 'B': 83,
 'z': 84,
 'v': 85,
 'O': 86,
 'R': 87,
 '`': 88,
 'Z': 89,
 'Q': 90,
 'L': 91,
 '!': 92,
 '\\': 93}

In [22]:
y = np.zeros((row_count, 94))
for i in range(row_count):
    y[i][label_dict[df['labels'][i]]] = 1

y

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
y.shape

(274093, 94)

In [23]:
X = df.drop(['labels','names'], axis=1).values
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [25]:
X.shape

(274093, 784)

In [27]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((219274, 784), (54819, 784), (219274, 94), (54819, 94))

In [33]:
# normalize
X_train = X_train/255
X_test = X_test/255

In [29]:
# model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(col_count, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(94, activation='softmax')
])

In [30]:
# compile
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [34]:
model.evaluate(X_test, y_test)

1714/1714 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.0145 - loss: 4.5538

[4.553633689880371, 0.013845564797520638]

In [35]:
#fit
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 70s 10ms/step - accuracy: 0.7685 - loss: 0.8914
Epoch 2/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 63s 9ms/step - accuracy: 0.8639 - loss: 0.4325
Epoch 3/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 63s 9ms/step - accuracy: 0.8814 - loss: 0.3675
Epoch 4/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 59s 9ms/step - accuracy: 0.8906 - loss: 0.3305
Epoch 5/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 60s 9ms/step - accuracy: 0.8986 - loss: 0.3025
Epoch 6/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 58s 8ms/step - accuracy: 0.9032 - loss: 0.2870
Epoch 7/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 60s 9ms/step - accuracy: 0.9078 - loss: 0.2736
Epoch 8/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 62s 9ms/step - accuracy: 0.9132 - loss: 0.2565
Epoch 9/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 81s 9ms/step - accuracy: 0.9153 - loss: 0.2482
Epoch 10/10
6853/6853 ━━━━━━━━━━━━━━━━━━━━ 60s 9ms/step - accuracy: 0.9180 - loss: 0.2403

In [36]:
model.evaluate(X_test, y_test)

1714/1714 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.9020 - loss: 0.3721

[0.37352368235588074, 0.901913583278656]

In [41]:
model.save('94_character_TMNIST.keras')

In [53]:

pred = model.predict(np.array([X[4]/255]))
print(pred)
pred_idx = np.argmax(pred)
for k, v in label_dict.items():
    if v == pred_idx:
        print(k)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
[[7.37654259e-17 3.36010989e-17 2.27627879e-07 5.05701169e-17
  9.99999523e-01 4.76426232e-09 1.96125782e-10 9.73048024e-17
  3.95077207e-14 8.27691458e-14 5.21168215e-20 2.03305826e-22
  8.54208631e-12 3.85186587e-12 3.15672330e-25 5.68758168e-29
  3.56919419e-20 3.67654541e-25 3.79460705e-20 1.56955756e-15
  9.35309869e-19 2.12306833e-27 7.59300052e-19 6.45531595e-19
  1.72424859e-16 8.91280272e-10 5.48602911e-16 2.68657726e-14
  1.13629298e-07 2.58928304e-31 1.66005647e-21 3.18205823e-10
  1.09387762e-15 1.55486646e-09 5.22464077e-20 1.14098650e-14
  3.59618387e-21 1.82036566e-10 1.25417316e-07 1.42266899e-23
  2.76907154e-23 1.10209071e-16 1.73201102e-12 1.61453257e-15
  1.18154916e-10 5.06869263e-26 2.65496830e-22 1.82333623e-18
  3.34017623e-23 7.18468470e-12 1.05186415e-14 5.23244710e-17
  5.27625736e-19 4.75889848e-11 2.09736872e-12 3.66765740e-14
  1.02346548e-20 1.90435653e-10 5.88208273e-08 2.69319234e-09
  1.25836776e-16 2.11277458e-12 3.20236423e-17 1.10896318e-19
  6.98791996e-11 3.91994973e-19 5.09517952e-16 4.36811282e-10
  4.20608900e-25 7.13603742e-12 7.72885640e-20 2.04925832e-14
  3.50376697e-35 5.46522234e-17 3.76879761e-13 9.79359511e-18
  5.04901546e-12 0.00000000e+00 8.07487639e-20 1.50295509e-09
  6.36795441e-18 1.12050062e-25 7.43516521e-16 9.02851673e-14
  6.46185449e-12 1.07573277e-14 3.96729578e-13 2.42972364e-10
  3.36996002e-22 2.19617709e-11 9.88611630e-19 1.31262883e-14
  3.88524351e-21 8.22172371e-24]]
F